.todo-container { 
    padding: 20px; 
    background: #9b9a9a; 
    max-width: 600px; 
}

#task-list li { 
    margin: 10px 0; 
    padding: 10px; 
    border-bottom: 1px solid #898888; 
}

#task-list li.done .task-title { 
    text-decoration: line-through; color: rgb(6, 0, 62); 
}

.todo-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.todo-table th, .todo-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.todo-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.todo-table tr.done td {
    color: green;
    text-decoration: line-through;
}
