.todo-container { 
    padding: 20px; 
    background: #9b9a9a; 
    max-width: 600px; 
}

#task-list li { 
    margin: 10px 0; 
    padding: 10px; 
    border-bottom: 1px solid #898888; 
}

#task-list li.done .task-title { 
    text-decoration: line-through; color: rgb(6, 0, 62); 
}
